/***********************************************/
/* animalsim.css                               */
/* Based on 2col_leftNav.css                   */
/* Use with template default.dwt               */
/***********************************************/

/***********************************************/
/* HTML tag styles                             */
/***********************************************/ 

body{
	font-family: Arial,sans-serif;
	color: #333333;
	line-height: 1.166;
	margin: 0px;
	padding: 0px;
}

a:link, a:visited, a:hover {
	color: #3333FF;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}
/* overrides decoration from previous rule for hovered links */

h1, h2, h3, h4, h5, h6 {
	font-family: Arial,sans-serif;
	margin: 0px;
	padding: 0px;
}

h1{
 font-family: Verdana, Arial, sans-serif;
 font-size: 170%;
 color: #FFFFFF;
}

h2{
 font-size: 114%;
 color: #006699;
}

h3{
 font-size: 100%;
 color: #334d55;
}

h4{
 font-size: 100%;
 font-weight: normal;
 color: #333333;
}

h5{
 font-size: 100%;
 color: #334d55;
}

ul{
 list-style-type: square;
}

ul ul{
 list-style-type: disc;
}

ul ul ul{
 list-style-type: none;
}

/*
label{
 font: bold 100% Arial,sans-serif;
 color: #334d55;
}
*/			
table{
	border-top: 1px solid #669900;
	border-bottom: 1px solid #669900;
}



/***********************************************/
/* Layout Divs                                 */
/***********************************************/

#masthead{
	margin: 0;
	padding: 0px 0px;
	border-bottom: 1px solid #cccccc;
	width: 100%;
	background-color: #669900;
	background-image:  url("img/gainform.png");
	background-repeat: repeat-x;
	background-position: left center;
}

#navBar{
	margin: 25px 0% 0% 82%;
	padding: 0px;
	background-color: #ddffaa;
	background-repeat: repeat-y;
	background-position: right;
	border-color: #dfa;
	border-style: none solid solid solid;
	border-width: 1px;
}

#content{
	float:left;
	width: 80.5%;
	margin: 0;
	padding: 0.1% 0% 1% 1.5%;
}

#contentNoNav {
	float:none;
	width: 70%;
	padding: 0.1% 0% 1% 1.5%;
}

/***********************************************/
/*Component Divs                               */
/***********************************************/

#siteName{
	margin: 0px;
	padding: 20px 0px 10px 10px;
}
#logo{
	float: left;
	vertical-align:bottom;
	padding: 4px 10px 0px 10px;
}
.frmtble td.register{
	background-color: #bbFF88;
	border: thick solid #FFFFFF;
}
.register p{
	font-size:100%;
	text-align:center;
}
.register p a{
	font-weight:bold;
}

/*************** #pageName styles **************/

#pageName{
	padding: 8px 40px 5px 10px;
}
.courseName{
	padding: 3px 0px 3px 10px;
	font-size: 80%;
	font-weight: bold;
	background-color: #ddffaa;
	border-bottom: 1px solid #ccc;
}

#caseInfo{
	width:584px;	
	margin-top:8px;
	background-color:white;
}
#caseInfo div {
	padding:2px;
}
#caseInfo p,#caseInfo h3 {
	padding:4px;
	margin:0;
	font-size:80%;
}
#caseName{
	width:580px;
	float:left;
}
#caseName p, #caseName h2{
	background-color:#ddeeff;
}
#caseMsg{
	float:left;
	width:288px;
}
#caseStatus{
	float:left;
	width:288px;
}
#caseStatus p,#caseStatus h3{
	background-color:#FFFFAA;
	padding:8px 4px;
}
#caseMsg .warning, .story .warning {
	padding:8px 0px 8px 50px;
	background-color: #FFCCCC;
	background-image: url(img/warning.png);
	background-position: 4px;
	background-repeat: no-repeat;
}
#caseMsg .info {
	background-color: #CCFFAA;
	background-image: url(img/tick.png);
	background-position: 4px;
	background-repeat: no-repeat;
	padding: 8px 0px 8px 40px;
}
#caseMsg .error {
	background-color: #FFCCCC;
	background-image: url(img/err.png);
	background-position: 4px;
	background-repeat: no-repeat;
	padding:8px 0px 8px 40px;
}


/************* #globalNav styles **************/

#globalNav{
	color: #CCCCCC;
	padding: 0px 0px 0px 10px;
	white-space: nowrap;
}

/* 'nowrap' prevents links from line-wrapping if there are too many to fit in one line
   this will force a horizontal scrollbar if there isn't enough room for all links
   remove rule or change value to 'normal' if you want the links to line-wrap */

#globalNav img{
 display: block;
}

#globalNav a {
	font-size: 90%;
	padding: 0px 4px 0px 0px;
	color: #EEEEEE;

}
#globalNav a:hover {
	background-color:#669900;
}

/************* #breadCrumb styles *************/

#breadCrumb{
	font-size: 75%;
	padding: 3px 0px 3px 10px;
	line-height: normal;
	border-bottom: 1px solid #ddffaa;
}


/************** .feature styles ***************/

.feature{
	padding: 0px 0px 10px 10px;
	font-size: 80%;
}

.feature h3{
	padding: 20px 0px 5px 0px;
	text-align: center;
}

.feature img{
	float: right;
	padding: 0px 0px 10px 0px;
	margin: 0 5px 5px 0;
}

/* adjust margins to change separation between the feature image and text flowing around it */


/************** .story styles *****************/

.story{
	clear: both;
	padding: 5px 0px 0px 10px;
	font-size: 80%;
}
.story h3{
	padding: 10px 0px 2px 0px;
}
.story h4{
	padding-left: 10px;
}
.story img{
	float: right;
	padding: 0px 0px 10px 0px;
	margin: 0 5px 5px 0;
}
img.figure{
	float: none;
}
.story p{
    margin: 5px 0px;
	padding: 0px 15px 6px 0px;
}
.releasedate{
	padding: 0px 0px 0px 0px;
	font-size: 90%;
	font-style:italic;
	font-weight: normal;
}
.r0 {background:#ffffff}
.r1 {background:#e8f0ff;}
.rh {background:#f0f0a0;}
.rh th{
	padding:3px 0px;
	}

.objlist {
	padding:7px 4px;
}
.objlist a{
	font-weight:bold;
}
.coursecode{
	font-size:80%;
}

/************* #Form styles ***************/
.small { font-family: Verdana,Geneva,Arial,Helvetica,sans-serif;
font-size: 80%;
font-weight: normal;
}

.tbltick {
	font-family: Verdana,Geneva,Arial,Helvetica,sans-serif;
	font-size: 190%;
	text-align: center;
}
.frmtble {
	background-color: #FFFF99;
	padding: 0px;
	margin: 3px;
	border: thin solid #669900;
}
.frmtble td, .frmtble th {
	font-size:80%;
	padding: 4px;
}
.frmtble td.select{
	background-color: #bbff88;
	border-top: medium none #FFFF99;
	border-right: medium solid #FFFF99;
	border-bottom: medium none #FFFF99;
	border-left: medium none #FFFF99;
}
.frmtble th.select{
	background-color: #bbff88;
	border-top: medium none #FFFF99;
	border-right: medium none #FFFF99;
	border-bottom: medium none #FFFF99;
	border-left: medium solid #FFFF99;
}
.frmtble th.summary{
	background-color: #bbff88;
	border-top: medium none #FFFF99;
	border-right: medium none #FFFF99;
	border-bottom: medium none #FFFF99;
	border-left: medium solid #FFFF99;
}
.frmtble td.summary {
	background-color: #bbff88;
	border-top: medium none #FFFF99;
	border-right: medium solid #FFFF99;
	border-bottom: medium none #FFFF99;
	border-left: medium none #FFFF99;
}
.frmtble td span.required {
	font-size: 120%;
	color:#FF0000;
}
.valerr {
	color:#FF0000;
	display:none;
}
/************* #siteInfo styles ***************/

#siteInfo{
	clear: both;
	border: 1px solid #cccccc;
	font-size: 75%;
	color: #cccccc;
	padding: 10px 10px 10px 10px;
	margin-top: 0px;
}
/* negative top margin pulls siteinfo up so its top border overlaps (and thus lines up with)
	the bottom border of the navBar in cases where they "touch" */

#siteInfo img{
	padding: 4px 4px 4px 0px;
	vertical-align: middle;
}


/************* #search styles ***************/

#search{
	padding: 5px 0px 5px 10px;
	border-bottom: 1px solid #cccccc;
	font-size: 90%;
}

#search form{
 margin: 0px;
 padding: 0px;
}

#search label{
	display: block;
	margin: 0px;
	padding: 0px;
}


/*********** #navBar link styles ***********/

#navBar a:link,#navBar a:visited,#navBar a:hover {
	color: #006699;
	text-decoration: none;
}

#navBar dl a:link, #navBar dl a:visited {display: block;}
#navBar dl {list-style: none; margin: 0; padding: 0;}
#navBar dt {margin: 0px 0px 0px 0px;}
#navBar dd {margin: 0px 0px 0px 0px;}

/* hack to fix IE/Win's broken rendering of block-level anchors in lists */
#navBar dd {border-bottom: 1px solid #EEE;}

/* fix for browsers that don't need the hack */
html>body #navBar dd {border-bottom: none;}


/*********** #sectionLinks styles ***********/

#sectionLinks{
	position: relative;
	margin: 0;
	padding: 15px 0px 0px 0px;
	border-bottom: 1px solid #ccc;
	font-size: 90%;
}

#sectionLinks dt{
	padding: 0px 0px 1px 10px;
	font-weight:bold;
	color:#668800;
}

#sectionLinks h3{
	padding: 10px 0px 2px 20px;
}

#sectionLinks a:link{
	padding: 2px 0px 2px 20px;
	border-top: 1px solid #ccc;
	width: 100%;
  voice-family: "\"}\""; 
  voice-family:inherit;
	width: auto;
}

#sectionLinks a:visited{
	border-top: 1px solid #ccc;
	padding: 2px 0px 2px 20px;
}

#sectionLinks a:hover{
	border-top: 1px solid #ccc;
	background-color: #ddd;
	padding: 2px 0px 2px 20px;
}


/*********** .relatedLinks styles ***********/

.relatedLinks{
	margin: 0px;
	padding: 0px 0px 10px 10px;
	font-size: 90%;
}

.relatedLinks h3{
	padding: 10px 0px 2px 0px;
}


/************** #advert styles **************/

#advert{
	padding: 10px 0px 0px 10px;
	font-size: 80%;
	border-top: 1px solid #cccccc;
}

#advert img{
	display: block;
}


/************** #headlines styles **************/

#headlines{
	margin: 0px;
	padding: 10px 0px 20px 10px;
	font-size: 80%;
}

#headlines p{
	padding: 5px 0px 5px 0px;
}

/************** #Upload/Download Forms **************/
#SelListDwn, #casesumry{
	width:15em;
	float:left;
}
#SelListDwn fieldset {
	margin:0 5px;
}
#SelListDwn form {
	margin:0;
	padding:6px;
}
#SelListUp{
	width:28em;
	float:left;
}
#SelListUp fieldset {
	margin:0 5px;
}
#SelListUp form{
	margin:0;
	padding:6px;
}
#SelListUp label{
	padding:0;
	margin:0;
}
#SelListUp input{
	margin:0 0 7px 0;
}
#defsumry .tbltick {
	font-size: 140%;
	font-weight: bold;
	background-position: center center;
}
#defsumry #trts .r1{
	background-color:#FFFF99;
}
#defsumry #trts .r2{
	background-color:#FFFFDD;
}
#defsumry #inftyps .r1{
	background-color:#E8F0FF;
}
#defsumry #inftyps .r2{
	background-color:#FAFCFF;
}
.tblheading2 {
 text-align:right;
}
.tbltools {
	background-color:#B8E65C;
}
.tbltools input{
	margin:2px 7px;
}
.tbltools a{
    font-size: 80%;
	margin:2px 5px;
}
.tbldetails {
	font-size:80%;
}
thead th {
	background-color:#B8E65C;;
	padding:3px 2px;
}