@charset "utf-8";
/* CSS Document */

body {
background-color:#FFFFFF;
color:#111111;
font-family:Arial,Helvetica,sans-serif;
font-size:80%;
font-style:normal;
font-variant:normal;
font-weight:normal;
line-height:1.5;
margin:0pt;
padding:0pt;
}
h2 {
background-color:#CCCCCC;
border-bottom:2px solid #BBBBBB;
color:#FFFFFF;
font-family:Georgia,"Times New Roman",Times,serif;
font-size:200%;
font-weight:normal;
margin:0px;
padding:10px;
}
p#copyright {
color:#999999;
font-size:90%;
margin:20px 10px;
}
div.form-container {
background-color:#FFFFFF;
border:1px solid #EEEEEE;
margin:10px;
padding:5px;
}
p.legend {
margin-bottom:1em;
}
p.legend em {
color:#CC0000;
font-style:normal;
}
div.errors {
background-color:#FFFFCC;
border:1px solid #FFCC66;
margin:0pt 0pt 10px;
padding:5px 10px;
}
div.errors p {
margin:0pt;
}
div.errors p em {
color:#CC0000;
font-style:normal;
font-weight:bold;
}
div.form-container form p {
margin:0pt;
}
div.form-container form p.note {
color:#333333;
font-size:90%;
margin-left:140px;
}
div.form-container form fieldset {
	border:1px solid #DDDDDD;
	float:left;
	margin: 0px 10px 10px 0pt;
	padding:10px;
	width:36em;
}
div.form-container form legend {
color:#666666;
font-weight:bold;
}
div.form-container form fieldset div {
padding:0.25em 0pt;
}
div.form-container label {
display:block;
float:left;
margin-right:10px;
padding-right:10px;
position:relative;
text-align:right;
width:120px;
}
div.form-container label.error, div.form-container span.error {
color:#CC0000;
}
div.form-container label em {
color:#CC0000;
font-size:120%;
font-style:normal;
position:absolute;
right:0pt;
}
div.form-container input.error {
background-color:#FFEEFF;
border-color:#CC0000;
}
div.form-container input:focus, div.form-container input.error:focus, div.form-container textarea:focus {
background-color:#FFFFCC;
border-color:#FFCC66;
}
div.form-container div.controlset label, div.form-container div.controlset input {
display:inline;
float:none;
}
div.form-container div.controlset label.controlset {
display:block;
float:left;
}
div.form-container div.controlset div {
margin-left:140px;
}
div.form-container div.buttonrow {
clear:left;
margin-left:180px;
}
